<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="title" conetnt="Minesweeper" />
    <meta name="description" content="Play Minesweeper" />
    <meta name="author" content="Rachel Fisher" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <!-- My CSS-->
    <link rel="stylesheet" type="text/css" media="screen" href="./main.css" />

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700" />
  </head>

  <body>
    <div id="main" class="main row justify-content-center" role="main">
      <!-- MAIN CONTENT -->
      <div id="content" class="col-auto">
        <div id="minesweeper">
          <h1>
            <div class="row justify-content-center" id="page_title">
              <div class="col-2"><i class="fa fa-fw fa-gamepad float-right"></i></div>
              <span class="col-auto"> MINESWEEPER </span>
              <div class="col-2">
                <a href="#" data-toggle="modal" data-target="#settings_modal"><i class="fa fa-fw fa-cog"> </i></a>
              </div>
            </div>
          </h1>
          <table>
            <div id="header">
              <div class="row">
                <div class="col-4">
                  <span id="mines_left">{{ mines_left }}</span>
                </div>
                <div class="col-4" id="faces">
                  <i v-if="face == 'smile'" id="smile" class="fas fa-smile fa-3x"></i>
                  <i v-if="face == 'frown'" id="frown" class="fas fa-frown fa-3x" @click="reset"></i>
                  <i v-if="face == 'grin'" id="grin" class="fas fa-grin-beam fa-3x" @click="reset"></i>
                </div>
                <div class="col-4">
                    <span id="timer">{{ formatted_timer }}</span>
                </div>
              </div>
            </div>
            <tr v-for="(row, x) in board_size" :key="x">
              <td
                v-for="(col, y) in board_size"
                :key="y"
                class="box"
                :id="'ind_' + x + '_' + y"
                @click="display_box(x,y)"
                @contextmenu.prevent="display_flag(x, y)"
              >
                <i
                  v-if="show_mines && mine_map[x*board_size+y] === -1 && revealed_map[x*board_size+y] !== -1"
                  class="fas fa-certificate"
                ></i>
                <span
                  v-if="revealed_map[x*board_size+y] === 1 && mine_map[x*board_size+y] !== 0"
                  class="minesweeper_number"
                >
                  <span
                    class="minesweeper_number"
                    :class="{ minesweeper_blue: mine_map[x*board_size+y] === 1,
                                minesweeper_green: mine_map[x*board_size+y] === 2,
                                minesweeper_red: mine_map[x*board_size+y] === 3,
                                minesweeper_yellow: mine_map[x*board_size+y] === 4,
                                minesweeper_purple: mine_map[x*board_size+y] === 5,
                                minesweeper_orange: mine_map[x*board_size+y] === 6,
                                minesweeper_brown: mine_map[x*board_size+y] === 7,
                                minesweeper_black: mine_map[x*board_size+y] === 8,}"
                  >
                    {{ mine_map[x * board_size + y] }}
                  </span>
                </span>
                <i
                  v-if="(revealed_map[x*board_size+y] === -1 && !show_mines) || (revealed_map[x*board_size+y] === -1 && mine_map[x*board_size+y] === -1 && show_mines)"
                  class="fas fa-flag"
                ></i>
                <span v-if="show_mines && revealed_map[x*board_size+y] === -1 && mine_map[x*board_size+y] !== -1">
                  <div class="cross_out"></div>
                  <i class="fas fa-flag"></i>
                </span>
                <!-- <i
                  v-if="revealed_map[x*board_size+y] == -1 && show_mines && mine_map[x*board_size+y] != -1"
                  class="fas fa-certificate"
                ></i> -->
              </td>
            </tr>
          </table>

          <div
            class="modal fade"
            id="settings_modal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="modal_content"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal_content">Settings</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label>Set Board Size </label>
                      <input type="number" onKeyDown="return false;" v-model="new_board_size" min="10" max="50" />
                    </div>
                    <div class="form-group">
                      <label>Choose Difficulty </label>
                      <select v-model="new_difficulty">
                        <option value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
                        <option value="master">Master</option>
                      </select>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary"  data-dismiss="modal" @click="save_settings">
                    Save changes (Restart Game)
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--========================== JS ========================== -->
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Popper -->
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script> -->

    <!-- Boostrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

    <!-- My JS -->
    <script src="./main.js"></script>
  </body>
</html>
